trunk/POSPrinterClient/Service References/POSPrinterService/POSPrinter1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.nrf-arts.org/UnifiedPOS/POSPrinter/" elementFormDefault="qualified" targetNamespace="http://www.nrf-arts.org/UnifiedPOS/POSPrinter/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EndInsertion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndInsertionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UposException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="tns:ErrorCode" />
      <xs:element minOccurs="0" name="ErrorCodeExtended" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UposException" nillable="true" type="tns:UposException" />
  <xs:simpleType name="ErrorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Busy" />
      <xs:enumeration value="Claimed" />
      <xs:enumeration value="Closed" />
      <xs:enumeration value="Deprecated" />
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Exists" />
      <xs:enumeration value="Extended" />
      <xs:enumeration value="Failure" />
      <xs:enumeration value="Illegal" />
      <xs:enumeration value="NoExist" />
      <xs:enumeration value="NoHardware" />
      <xs:enumeration value="NoService" />
      <xs:enumeration value="NotClaimed" />
      <xs:enumeration value="Offline" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="Timeout" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorCode" nillable="true" type="tns:ErrorCode" />
  <xs:element name="EndRemoval">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndRemovalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkFeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkFeedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PageModePrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Control" type="tns:PageModePrintControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PageModePrintControl">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cancel" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="PageMode" />
      <xs:enumeration value="PrintSave" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PageModePrintControl" nillable="true" type="tns:PageModePrintControl" />
  <xs:element name="PageModePrintResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintBarCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Station" type="tns:PrinterStation" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Symbology" type="xs:int" />
        <xs:element minOccurs="0" name="Height" type="xs:int" />
        <xs:element minOccurs="0" name="Width" type="xs:int" />
        <xs:element minOccurs="0" name="Alignment" type="xs:int" />
        <xs:element minOccurs="0" name="TextPosition" type="tns:BarCodeTextPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PrinterStation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Journal" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Receipt" />
      <xs:enumeration value="Slip" />
      <xs:enumeration value="TwoReceiptJournal" />
      <xs:enumeration value="TwoSlipJournal" />
      <xs:enumeration value="TwoSlipReceipt" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PrinterStation" nillable="true" type="tns:PrinterStation" />
  <xs:simpleType name="BarCodeTextPosition">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Above" />
      <xs:enumeration value="Below" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BarCodeTextPosition" nillable="true" type="tns:BarCodeTextPosition" />
  <xs:element name="PrintBarCodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintBitmap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Station" type="tns:PrinterStation" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Width" type="xs:int" />
        <xs:element minOccurs="0" name="Alignment" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintBitmapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintImmediate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Station" type="tns:PrinterStation" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintImmediateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintMemoryBitmap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Station" type="tns:PrinterStation" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="Type" type="tns:BitmapType" />
        <xs:element minOccurs="0" name="Width" type="xs:int" />
        <xs:element minOccurs="0" name="Alignment" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="BitmapType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bmp" />
      <xs:enumeration value="Gif" />
      <xs:enumeration value="Jpeg" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BitmapType" nillable="true" type="tns:BitmapType" />
  <xs:element name="PrintMemoryBitmapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintNormal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Station" type="tns:PrinterStation" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintNormalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintTwoNormal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Station" type="tns:PrinterStation" />
        <xs:element minOccurs="0" name="Data1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintTwoNormalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RotatePrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Station" type="tns:PrinterStation" />
        <xs:element minOccurs="0" name="Rotation" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RotatePrintResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBitmap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BitmapNumber" type="xs:int" />
        <xs:element minOccurs="0" name="Station" type="tns:PrinterStation" />
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Width" type="xs:int" />
        <xs:element minOccurs="0" name="Alignment" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBitmapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLogo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Location" type="tns:PrinterLogoLocation" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PrinterLogoLocation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bottom" />
      <xs:enumeration value="Top" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PrinterLogoLocation" nillable="true" type="tns:PrinterLogoLocation" />
  <xs:element name="SetLogoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TransactionPrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Station" type="tns:PrinterStation" />
        <xs:element minOccurs="0" name="Control" type="tns:PrinterTransactionControl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PrinterTransactionControl">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Transaction" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PrinterTransactionControl" nillable="true" type="tns:PrinterTransactionControl" />
  <xs:element name="TransactionPrintResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Station" type="tns:PrinterStation" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLetterQuality">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLetterQualityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpLetterQualityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSlpLetterQuality">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SlpLetterQuality" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSlpLetterQualityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpEmpty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpEmptyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpEmptyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpNearEnd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpNearEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpNearEndResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpSidewaysMaxLines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpSidewaysMaxLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpSidewaysMaxLinesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpSidewaysMaxChars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpSidewaysMaxCharsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpSidewaysMaxCharsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpMaxLines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpMaxLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpMaxLinesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLinesNearEndToEnd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLinesNearEndToEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpLinesNearEndToEndResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpBarCodeRotationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpBarCodeRotationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpBarCodeRotationListResult" nillable="true" type="tns:RotationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RotationList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rotation" type="tns:Rotation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RotationList" nillable="true" type="tns:RotationList" />
  <xs:simpleType name="Rotation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left90" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Right90" />
      <xs:enumeration value="Rotate180" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Rotation" nillable="true" type="tns:Rotation" />
  <xs:element name="GetSlpBitmapRotationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpBitmapRotationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpBitmapRotationListResult" nillable="true" type="tns:RotationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpPrintSide">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpPrintSideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpPrintSideResult" type="tns:PrinterSide" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PrinterSide">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Opposite" />
      <xs:enumeration value="Side1" />
      <xs:enumeration value="Side2" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PrinterSide" nillable="true" type="tns:PrinterSide" />
  <xs:element name="GetSlpCartridgeState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpCartridgeStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpCartridgeStateResult" type="tns:PrinterCartridgeStates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PrinterCartridgeStates">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cleaning" />
      <xs:enumeration value="Empty" />
      <xs:enumeration value="NearEnd" />
      <xs:enumeration value="OK" />
      <xs:enumeration value="Removed" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PrinterCartridgeStates" nillable="true" type="tns:PrinterCartridgeStates" />
  <xs:element name="GetSlpCurrentCartridge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpCurrentCartridgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpCurrentCartridgeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSlpCurrentCartridge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SlpCurrentCartridge" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSlpCurrentCartridgeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Open">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndpointAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Close">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EndpointAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Claim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Timeout" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClaimResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Release">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReleaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckHealth">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Level" type="tns:HealthCheckLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="HealthCheckLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="External" />
      <xs:enumeration value="Interactive" />
      <xs:enumeration value="Internal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HealthCheckLevel" nillable="true" type="tns:HealthCheckLevel" />
  <xs:element name="CheckHealthResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearOutput">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearOutputResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectIO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Command" type="xs:int" />
        <xs:element minOccurs="0" name="Data" type="xs:int" />
        <xs:element minOccurs="0" name="Obj" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DirectIOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DirectIOResult" nillable="true" type="tns:DirectIOData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="DirectIOData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:int" />
      <xs:element minOccurs="0" name="Obj" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectIOData" nillable="true" type="tns:DirectIOData" />
  <xs:element name="CompareFirmwareVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirmwareFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompareFirmwareVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompareFirmwareVersionResult" type="tns:CompareFirmwareResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="CompareFirmwareResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Different" />
      <xs:enumeration value="Newer" />
      <xs:enumeration value="Older" />
      <xs:enumeration value="Same" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CompareFirmwareResult" nillable="true" type="tns:CompareFirmwareResult" />
  <xs:element name="ResetStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatisticsBuffer" nillable="true" type="tns:StatisticList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="StatisticList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Statistic" nillable="true" type="tns:Statistic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatisticList" nillable="true" type="tns:StatisticList" />
  <xs:complexType name="Statistic">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statistic" nillable="true" type="tns:Statistic" />
  <xs:element name="ResetStatisticsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatisticsBuffer" nillable="true" type="tns:StatisticList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveStatisticsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFirmware">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FirmwareFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFirmwareResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StatisticsBuffer" nillable="true" type="tns:StatisticList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStatisticsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginInsertion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Timeout" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginInsertionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginRemoval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Timeout" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BeginRemovalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePrintSide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Side" type="tns:PrinterSide" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePrintSideResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearPrintArea">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearPrintAreaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CutPaper">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Percentage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CutPaperResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DrawRuledLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Station" type="tns:PrinterStation" />
        <xs:element minOccurs="0" name="PositionList" nillable="true" type="tns:PositionList" />
        <xs:element minOccurs="0" name="LineDirection" type="xs:int" />
        <xs:element minOccurs="0" name="LineWidth" type="xs:int" />
        <xs:element minOccurs="0" name="LineStyle" type="tns:PrinterLineStyle" />
        <xs:element minOccurs="0" name="LineColor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PositionList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Position" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PositionList" nillable="true" type="tns:PositionList" />
  <xs:simpleType name="PrinterLineStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BrokenLine" />
      <xs:enumeration value="ChainLine" />
      <xs:enumeration value="DoubleSolidLine" />
      <xs:enumeration value="SingleSolidLine" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PrinterLineStyle" nillable="true" type="tns:PrinterLineStyle" />
  <xs:element name="DrawRuledLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnNearEnd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnNearEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJrnNearEndResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnCartridgeState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnCartridgeStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJrnCartridgeStateResult" type="tns:PrinterCartridgeStates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnCurrentCartridge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnCurrentCartridgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJrnCurrentCartridgeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJrnCurrentCartridge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JrnCurrentCartridge" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJrnCurrentCartridgeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLineChars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLineCharsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecLineCharsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecLineChars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecLineChars" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecLineCharsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLineCharsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLineCharsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecLineCharsListResult" nillable="true" type="tns:LineCharsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="LineCharsList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineChars" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineCharsList" nillable="true" type="tns:LineCharsList" />
  <xs:element name="GetRecLineHeight">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLineHeightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecLineHeightResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecLineHeight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecLineHeight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecLineHeightResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLineSpacing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLineSpacingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecLineSpacingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecLineSpacing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecLineSpacing" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecLineSpacingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLineWidth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLineWidthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecLineWidthResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLetterQuality">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLetterQualityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecLetterQualityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecLetterQuality">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecLetterQuality" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecLetterQualityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecEmpty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecEmptyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecEmptyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecNearEnd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecNearEndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecNearEndResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecSidewaysMaxChars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecSidewaysMaxCharsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecSidewaysMaxCharsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecSidewaysMaxLines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecSidewaysMaxLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecSidewaysMaxLinesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLinesToPaperCut">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecLinesToPaperCutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecLinesToPaperCutResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecBarCodeRotationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecBarCodeRotationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecBarCodeRotationListResult" nillable="true" type="tns:RotationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecBitmapRotationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecBitmapRotationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecBitmapRotationListResult" nillable="true" type="tns:RotationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecCartridgeState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecCartridgeStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecCartridgeStateResult" type="tns:PrinterCartridgeStates" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecCurrentCartridge">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecCurrentCartridgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecCurrentCartridgeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecCurrentCartridge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecCurrentCartridge" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRecCurrentCartridgeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLineChars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLineCharsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpLineCharsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSlpLineChars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SlpLineChars" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSlpLineCharsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLineCharsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLineCharsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpLineCharsListResult" nillable="true" type="tns:LineCharsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLineHeight">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLineHeightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpLineHeightResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSlpLineHeight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SlpLineHeight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSlpLineHeightResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLineSpacing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLineSpacingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpLineSpacingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSlpLineSpacing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SlpLineSpacing" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSlpLineSpacingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLineWidth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSlpLineWidthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSlpLineWidthResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFontTypefaceList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFontTypefaceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFontTypefaceListResult" nillable="true" type="tns:FontTypefaceList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="FontTypefaceList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FontTypeface" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FontTypefaceList" nillable="true" type="tns:FontTypefaceList" />
  <xs:element name="GetFlagWhenIdle">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlagWhenIdleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFlagWhenIdleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFlagWhenIdle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FlagWhenIdle" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFlagWhenIdleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapCharacterSet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapCharacterSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMapCharacterSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMapCharacterSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MapCharacterSet" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMapCharacterSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapMode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMapModeResult" type="tns:MapMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="MapMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Dots" />
      <xs:enumeration value="English" />
      <xs:enumeration value="Metric" />
      <xs:enumeration value="Twips" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MapMode" nillable="true" type="tns:MapMode" />
  <xs:element name="SetMapMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MapMode" type="tns:MapMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMapModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModeArea">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModeAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPageModeAreaResult" nillable="true" type="tns:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Point">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Point" nillable="true" type="tns:Point" />
  <xs:element name="GetPageModeDescriptor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModeDescriptorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPageModeDescriptorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModeHorizontalPosition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModeHorizontalPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPageModeHorizontalPositionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPageModeHorizontalPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageModeHorizontalPosition" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPageModeHorizontalPositionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModePrintArea">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModePrintAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPageModePrintAreaResult" nillable="true" type="tns:Rectangle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Rectangle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Width" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rectangle" nillable="true" type="tns:Rectangle" />
  <xs:element name="SetPageModePrintArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageModePrintArea" nillable="true" type="tns:Rectangle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPageModePrintAreaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModePrintDirection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModePrintDirectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPageModePrintDirectionResult" type="tns:PageModePrintDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PageModePrintDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BottomToTop" />
      <xs:enumeration value="LeftToRight" />
      <xs:enumeration value="None" />
      <xs:enumeration value="RightToLeft" />
      <xs:enumeration value="TopToBottom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PageModePrintDirection" nillable="true" type="tns:PageModePrintDirection" />
  <xs:element name="SetPageModePrintDirection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageModePrintDirection" type="tns:PageModePrintDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPageModePrintDirectionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModeStation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModeStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPageModeStationResult" type="tns:PrinterStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPageModeStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageModeStation" type="tns:PrinterStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPageModeStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModeVerticalPosition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageModeVerticalPositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPageModeVerticalPositionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPageModeVerticalPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageModeVerticalPosition" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPageModeVerticalPositionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRotateSpecial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRotateSpecialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRotateSpecialResult" type="tns:Rotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRotateSpecial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RotateSpecial" type="tns:Rotation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRotateSpecialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnLineChars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnLineCharsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJrnLineCharsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJrnLineChars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JrnLineChars" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJrnLineCharsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnLineCharsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnLineCharsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJrnLineCharsListResult" nillable="true" type="tns:LineCharsList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnLineHeight">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnLineHeightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJrnLineHeightResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJrnLineHeight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JrnLineHeight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJrnLineHeightResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnLineSpacing">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnLineSpacingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJrnLineSpacingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJrnLineSpacing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JrnLineSpacing" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJrnLineSpacingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnLineWidth">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnLineWidthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJrnLineWidthResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnLetterQuality">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnLetterQualityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJrnLetterQualityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJrnLetterQuality">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JrnLetterQuality" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetJrnLetterQualityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnEmpty">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJrnEmptyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJrnEmptyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpPresent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpPresentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpPresentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpFullslip">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpFullslipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpFullslipResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlp2Color">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlp2ColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlp2ColorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpBarCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpBarCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpBitmap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpBitmapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpBitmapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpBold">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpBoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpBoldResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpDhigh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpDhighResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpDhighResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpDwide">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpDwideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpDwideResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpDwideDhigh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpDwideDhighResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpDwideDhighResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpEmptySensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpEmptySensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpEmptySensorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpItalic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpItalicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpItalicResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpLeft90">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpLeft90Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpLeft90Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpNearEndSensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpNearEndSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpNearEndSensorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpRight90">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpRight90Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpRight90Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpRotate180">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpRotate180Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpRotate180Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpUnderline">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpUnderlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpUnderlineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpBothSidesPrint">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpBothSidesPrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpBothSidesPrintResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpCartridgeSensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpCartridgeSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpCartridgeSensorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpColor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpColorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpPageMode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpPageModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpPageModeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpRuledLine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapSlpRuledLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapSlpRuledLineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncMode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAsyncModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAsyncModeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAsyncMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsyncMode" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAsyncModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartridgeNotify">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartridgeNotifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCartridgeNotifyResult" type="tns:PrinterCartridgeNotify" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PrinterCartridgeNotify">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Enabled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PrinterCartridgeNotify" nillable="true" type="tns:PrinterCartridgeNotify" />
  <xs:element name="SetCartridgeNotify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CartridgeNotify" type="tns:PrinterCartridgeNotify" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCartridgeNotifyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterSet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCharacterSetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCharacterSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharacterSet" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCharacterSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterSetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterSetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCharacterSetListResult" nillable="true" type="tns:CharacterSetList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CharacterSetList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CharacterSet" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CharacterSetList" nillable="true" type="tns:CharacterSetList" />
  <xs:element name="GetCoverOpen">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoverOpenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCoverOpenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorLevel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorLevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetErrorLevelResult" type="tns:PrinterErrorLevel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PrinterErrorLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fatal" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Recoverable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PrinterErrorLevel" nillable="true" type="tns:PrinterErrorLevel" />
  <xs:element name="GetErrorStation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetErrorStationResult" type="tns:PrinterStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetErrorStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnBold">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnBoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapJrnBoldResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnDhigh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnDhighResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapJrnDhighResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnDwide">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnDwideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapJrnDwideResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnDwideDhigh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnDwideDhighResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapJrnDwideDhighResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnEmptySensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnEmptySensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapJrnEmptySensorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnItalic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnItalicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapJrnItalicResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnNearEndSensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnNearEndSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapJrnNearEndSensorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnUnderline">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnUnderlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapJrnUnderlineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnCartridgeSensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnCartridgeSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapJrnCartridgeSensorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnColor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapJrnColorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecPresent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecPresentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecPresentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRec2Color">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRec2ColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRec2ColorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecBarCode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecBarCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecBarCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecBitmap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecBitmapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecBitmapResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecBold">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecBoldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecBoldResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecDhigh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecDhighResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecDhighResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecDwide">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecDwideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecDwideResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecDwideDhigh">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecDwideDhighResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecDwideDhighResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecEmptySensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecEmptySensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecEmptySensorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecItalic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecItalicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecItalicResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecLeft90">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecLeft90Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecLeft90Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecNearEndSensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecNearEndSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecNearEndSensorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecPapercut">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecPapercutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecPapercutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecRight90">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecRight90Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecRight90Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecRotate180">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecRotate180Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecRotate180Result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecStamp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecStampResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecStampResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecUnderline">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecUnderlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecUnderlineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecCartridgeSensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecCartridgeSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecCartridgeSensorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecColor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecColorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecMarkFeed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecMarkFeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecMarkFeedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecPageMode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecPageModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecPageModeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecRuledLine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapRecRuledLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapRecRuledLineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapCompareFirmwareVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapCompareFirmwareVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapCompareFirmwareVersionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapPowerReporting">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapPowerReportingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapPowerReportingResult" type="tns:PowerReporting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PowerReporting">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Advanced" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Standard" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PowerReporting" nillable="true" type="tns:PowerReporting" />
  <xs:element name="GetCapStatisticsReporting">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapStatisticsReportingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapStatisticsReportingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapUpdateFirmware">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapUpdateFirmwareResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapUpdateFirmwareResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapUpdateStatistics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapUpdateStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapUpdateStatisticsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckHealthText">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckHealthTextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCheckHealthTextResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimed">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClaimedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceEnabled">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceEnabledResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeviceEnabledResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDeviceEnabled">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeviceEnabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDeviceEnabledResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreezeEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreezeEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFreezeEventsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFreezeEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FreezeEvents" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFreezeEventsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutputIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOutputIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPowerNotify">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPowerNotifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPowerNotifyResult" type="tns:PowerNotification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PowerNotification">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Enabled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PowerNotification" nillable="true" type="tns:PowerNotification" />
  <xs:element name="SetPowerNotify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PowerNotify" type="tns:PowerNotification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPowerNotifyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPowerState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPowerStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPowerStateResult" type="tns:PowerState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="PowerState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off" />
      <xs:enumeration value="Offline" />
      <xs:enumeration value="OffOffline" />
      <xs:enumeration value="Online" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PowerState" nillable="true" type="tns:PowerState" />
  <xs:element name="GetState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStateResult" type="tns:ControlState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ControlState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Busy" />
      <xs:enumeration value="Closed" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Idle" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ControlState" nillable="true" type="tns:ControlState" />
  <xs:element name="GetDeviceControlDescription">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceControlDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeviceControlDescriptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceControlVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceControlVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeviceControlVersionResult" nillable="true" type="tns:UposVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="UposVersion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Build" type="xs:int" />
      <xs:element minOccurs="0" name="Major" type="xs:int" />
      <xs:element minOccurs="0" name="Minor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UposVersion" nillable="true" type="tns:UposVersion" />
  <xs:element name="GetDeviceServiceDescription">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceServiceDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeviceServiceDescriptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceServiceVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceServiceVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeviceServiceVersionResult" nillable="true" type="tns:UposVersion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicalDeviceDescription">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicalDeviceDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPhysicalDeviceDescriptionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicalDeviceName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicalDeviceNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPhysicalDeviceNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapCharacterSet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapCharacterSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapCharacterSetResult" type="tns:CharacterSetCapability" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="CharacterSetCapability">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Alpha" />
      <xs:enumeration value="Ascii" />
      <xs:enumeration value="Kana" />
      <xs:enumeration value="Kanji" />
      <xs:enumeration value="Unicode" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CharacterSetCapability" nillable="true" type="tns:CharacterSetCapability" />
  <xs:element name="GetCapConcurrentJrnRec">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapConcurrentJrnRecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapConcurrentJrnRecResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapConcurrentJrnSlp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapConcurrentJrnSlpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapConcurrentJrnSlpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapConcurrentPageMode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapConcurrentPageModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapConcurrentPageModeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapConcurrentRecSlp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapConcurrentRecSlpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapConcurrentRecSlpResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapCoverSensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapCoverSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapCoverSensorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapMapCharacterSet">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapMapCharacterSetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapMapCharacterSetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapTransaction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnPresent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrnPresentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapJrnPresentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrn2Color">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCapJrn2ColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCapJrn2ColorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>